body{
    background-color: rgb(240, 240, 240);
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.img_main{
    position: relative;
    display: flex;
    max-width: 100%;
    height: 60vw;
    justify-content: center;
    align-items: center;
}

.img_main img{
    max-width: 100%;
    height: auto;
}

#img_front {
    position: absolute;
    width: 30vw;
    height: auto;
    z-index: 1;
}

#img_back {
    position: absolute;
    width: 80vw;
    padding: 30px;
    z-index: 0;
}

/* 브라우저 화면 너비가 790px 이하인 경우 */
@media(max-width:790px){
    .container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .main_picture{
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .main_picture img{
        width: 100%;
        height: 100%;
    }
    
    .main_text{
        padding: 20px;
    }
    
    mark{
        background-color: rgb(255, 241, 84);
        border-radius: 4px;
    }
    
    #first{
        background-color: rgb(255, 54, 19);
        color: white;
    }
    
    #second{
        background-color: black;
        color: rgb(255, 241, 84);
    }
    
    button{
        padding: 10px 30px;
        font-family: 'asindinarub';
        border: none;
        font-weight: 500;
        font-size: 18px;
        border-radius: 30px;
        margin-top: 30px;
        width: 100%;
    }
}

/* 브라우저 화면 너비가 791px 이상인 경우 */
@media(min-width:791px){
    .container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
    }
    
    .main_picture{
        flex: 0 0 auto;
        width: 400px;
        height: 400px;
    }
    
    .main_picture img{
        width: 100%;
        height: 100%;
    }
    
    .main_text{
        flex: 1;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .main_text button{
        padding: 10px 30px;
        font-family: 'asindinarub';
        border: none;
        font-weight: 500;
        font-size: 18px;
        border-radius: 30px;
        margin-top: 40px;
        width: 325px;
    }
}

#first button{
    background-color: black;
    color: white;
}

#first button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 54, 19);
}

#second button{
    background-color: rgb(255, 241, 84);
}

#second button:hover{
    background-color: rgb(255, 54, 19);
    color: black;
}

mark{
    background-color: rgb(255, 241, 84);
    border-radius: 4px;
}

#first{
    background-color: rgb(255, 54, 19);
    color: white;
}

#second{
    background-color: black;
    color: rgb(255, 241, 84);
}