@font-face {
    font-family: "asindinarub";
    src: url("../assets/fonts/asindinarub.ttf") format('truetype');
}


/* base layout */
.notice{
    background-color: rgb(255, 241, 84);
    color: rgb(0, 0, 0);
}

.rankings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ranking-item{
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    line-height: 2.0;
    margin: 20px;
    padding: 20px;
}

h4{
    text-align: center;
}


/* etc */
mark{
    background-color: rgb(255, 54, 19);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
}
