@font-face {
    font-family: "asindinarub";
    src: url("../assets/fonts/asindinarub.ttf") format('truetype');
}


/* base layout */
.notice{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.question{
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    line-height: 2.0;
    margin: 20px;
    padding: 20px;
}

.userinput{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


/* complete */
.complete{
    height: 75vh;
    background-color: rgb(255, 246, 147);
    color: rgb(0, 0, 0);
}

.complete #complete-img{
    margin: 30px auto;
    width: 75%;
}

.complete button{
    margin: 20px;
    padding: 10px;
    width: 60%;
    font-family: 'asindinarub';
    font-size: 20px;
    border-radius: 20px;
    border: none; 
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
}


/* etc */
mark{
    background-color: rgb(255, 241, 84);
    color: rgb(255, 54, 19);
    border-radius: 4px;
    padding: 2px;
}